
@{
    ViewBag.Title = "Vista";
}

<h2>Vista</h2>

@Html.Display("Propiedad") <!--Etiquetas especiales para pintar información... Display templates nos permite editar caracteristicas de los campos-->

<br />
<hr />
@Html.Editor("Propiedad")

